<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Thomas Plessis photographe - {% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!--[if lte IE 8]>{% js ie/html5shiv %}<![endif]-->
  {% stylesheet main %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!--[if lte IE 9]>{% stylesheet ie9 %}<![endif]-->
  <!--[if lte IE 8]>{% stylesheet ie8 %}<![endif]-->
</head>
